.dream {
    margin-bottom: 64px;
    
    &__title {
        margin-bottom: 64px;

        span {
            color: $orange;
        }
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__content {
        margin-left: 123px;
    }

    &__button {
        a {
            width: 204px;
        }
    }
}